<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Step</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/step.js"></script>
  <link rel="stylesheet" href="/css/step.css">
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a id="backBtn" href="/recipe/{{name}}"></a>
        <div class="navbar-brand">{{name}}</div>
      </div>
    </div>
  </nav>
  <div class="container">
    <img src="/images/cheesecake.jpg" alt="foodimg">
    <div class="info"></div>
    <div id="navBtn">
      <div id="prevBtn" class="btn btn-primary">Previous Step</div>
      <div id="nextBtn" class="btn btn-primary">Next Step</div>
    </div>

  </div>


</body>

</html>